@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: auto;

    background: linear-gradient(180deg, var(--color-dark-purple) 0%, var(--color-light-purple) 100%);

    overflow-x: hidden;
}

:root {
    --color-dark-purple: #3D0066;
    --color-light-purple: #7D05B5;

    --color-black: #06030A;
    --color-white: #FFFFFF;

    --color-sucess: #45BA51;
    --color-warning: #FFD524;
    --color-danger: #E6241E;
}

small, p, span {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}

small, p, h1, h2, h3, span {
    color: var(--color-black);

    font-style: normal;
    font-weight: 400;
}

::-webkit-scrollbar {
    display: none;
}

.green-text {
    color: var(--color-sucess);

    font-weight: 800;
}

.yellow-text {
    color: var(--color-warning);
}

.red-text {
    color: var(--color-danger);
}

.dark-text {
    color: var(--color-dark-purple);
    font-weight: 700;

}
.light-text {
    color: var(--color-light-purple);
    font-weight: 700;
}

u {
    text-decoration: underline;
}

italic {
    font-style: italic;;
}

img {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 1200px) {
    small {
        font-size: 12px;
        line-height: 22px;
    }

    p {
        font-size: 16px;
        line-height: 27px;
    }

    h1 {
        font-size: 50px;
        line-height: 60px;
    }

    h2 {
        font-size: 40px;
        line-height: 50px;
    }

    h3 {
        font-size: 32px;
        line-height: 42px;
    }

    .container {
        width: 100%;

        margin: 0 auto;

        display: flex;
        flex-direction: column;
    }

    .container .headline-text {
        width: 840px;

        margin: 64px auto 0;

        text-align: center;
    }

    .container .headline-text h2 {
        font-weight: 500;
    }

    .container .headline-text h2:last-child {
        margin: 32px 0 0;
    }

    .container .hero-container {
        margin: 32px 0 0;
        padding: 0 100px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container .hero-container .hero-image-background {
        width: 614px;
        height: 747px;

        position: absolute;
        margin: 0 auto;

        z-index: -10;
    }

    .container .hero-container .hero-image-background .circle {
        width: 614px;
        height: 614px;

        position: absolute;
        top: 0;

        border-radius: 50%;

        background: var(--color-light-purple);
        filter: blur(72px);
        
        z-index: -20;
    }

    .container .hero-container .hero-text-block {
        width: 100%;

        margin: 32px 0 0;

        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;
    }

    .container .hero-container .hero-text-block .hero-left-side-text, 
    .container .hero-container .hero-text-block .hero-right-side-text {
        width: 500px;
    }
    
    .container .hero-container .hero-text-block .hero-left-side-text {
        margin: 0;
    }
    
    .container .hero-container .hero-text-block .hero-right-side-text {
        margin: 32px 0 0 auto;
    }

    .container .hero-container .hero-middle-text {
        width: 840px;

        margin: 64px auto 0;

        text-align: center;
    }

    .container .hero-container p {
        color: var(--color-white);
    }

    .background-waves {
        width: 100%;
        height: 200px;

        position: absolute;
        top: 940px;
        left: 0;

        overflow-x: hidden;
    }

    .wave {
        width: 300%;
        height: 200px;

        position: absolute;
    }

    .wave:nth-of-type(1){
        top: -1px;

        background: url(../src/images/svg/frontwave.svg);

        z-index: -1;

        animation: wave 10s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
        transform: translate3d(0, 0, 0);
    }
      
    .wave:nth-of-type(2) {
        top: -2px;

        background: url(../src/images/svg/middlewave.svg);
        filter: blur(4px);

        z-index: -2;

        animation: wave 20s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite;
    }

    .wave:nth-of-type(3) {
        top: -5px;

        background: url(../src/images/svg/backwave.svg);
        filter: blur(8px);

        z-index: -3;

        animation: wave 30s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.115s infinite;
    }
      
    @keyframes wave {
        0% {
            margin-left: 0;
        }

        100% {
            margin-left: -1600px;
        }
    }

    .sec2-container {
        width: 100%;

        margin: 200px auto 0;
        padding-bottom: 100px;

        background: var(--color-white);

        z-index: 1;
    }

    .sec2-container .sec2-content {
        width: 1040px;

        margin: 0 auto;
    }

    .sec2-container .sec2-content .sec2-headline-text .sec2-title {
        width: 100%;

        margin: 0 auto;

        text-align: center;
    }
    
    .sec2-container .sec2-content .sec2-headline-text .sec2-title h2 {
        font-weight: 700;
    }

    .sec2-container .sec2-content .sec2-headline-text .sec2-text {
        width: 100%;

        margin: 32px auto 0;
    }

    .sec2-container .sec2-content .sec2-gradient-text {
        width: 100%;

        margin: 32px auto 0;

        display: flex;
        flex-direction: column;

        text-align: center;
    }

    .sec2-container .sec2-content .sec2-gradient-text span {
        width: 100%;

        background: linear-gradient(180deg, var(--color-sucess) -41.67%, var(--color-white) 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;

        font-family: 'Oswald', sans-serif;
        font-size: 80px;
        font-weight: 700;
        
        line-height: 90px;
        letter-spacing: 0.1em;

        z-index: 0;
    }

    .sec2-container .sec2-content .sec2-gradient-text h3 {
        width: 100%;
        
        position: absolute;
        left: 0;
        margin: 0;
        transform: translateY(50%);
        
        font-weight: 500;
        
        z-index: 2;
    }

    .sec2-container .sec2-content .sec2-left-side-text {
        width: 500px;

        margin: 64px auto 0 0;
    }

    .sec2-background-image {
        width: 100%;
        
        position: absolute;
        left: 0;
        transform: translate(50%, -416px);
    }
    
    .sec2-background-image img {
        width: 359px;

        animation: phone 4s ease-in-out infinite;
    }

    @keyframes phone {
        0% {
            transform: translatey(0px) rotate(1deg);
        }
        50% {
            transform: translateY(-5px) rotate(4deg);
        }
        100% {
            transform: translateY(0px) rotate(1deg);
        }
    }
    
    .sec2-background-image .circle {
        width: 359px;
        height: 159px;

        position: absolute;
        top: 150px;
        left: 64px;
        transform: rotate(124deg);

        background: var(--color-light-purple);
        filter: blur(80px);

        z-index: -1;
    }

    .sec3-container {
        width: 1040px;

        margin: 142px auto 0;
    }

    .sec3-container .sec3-text-block .sec3-title {
        margin: 0;

        text-align: center;
    }
    
    .sec3-container .sec3-text-block .sec3-title h3 {
        font-weight: 600;
    }
    
    .sec3-container .sec3-text-block .sec3-text {
        margin: 64px auto 32px;
    }

    .sec3-container .sec3-text-block .sec3-text p {
        margin: 32px auto 0;
        
        color: var(--color-white);
    }
    
    .sec3-container .sec3-text-block .sec3-text p:nth-child(2) {
        font-weight: 600;
    }
    
    .sec3-container .sec3-text-block .sec3-text p:nth-child(3) span {
        font-weight: 800;
    }

    .sec3-container .sec3-gradient-text {
        width: 100%;

        margin: 32px auto 0;

        display: flex;
        flex-direction: column;

        text-align: center;
    }

    .sec3-container .sec3-gradient-text span {
        width: 100%;

        background: linear-gradient(180deg, var(--color-black) -41.67%, var(--color-light-purple) 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;

        font-family: 'Oswald', sans-serif;
        font-size: 80px;
        font-weight: 700;
        
        line-height: 100px;
        letter-spacing: 0.1em;

        z-index: 0;
    }

    .sec3-container .sec3-gradient-text h3 {
        width: 100%;
        
        position: absolute;
        left: 0;
        margin: 0;
        transform: translateY(65%);
        
        color: var(--color-white);

        font-weight: 500;
        
        z-index: 2;
    }

    .sec3-container h3:nth-child(3) {
        margin: 32px 0 0;
        color: var(--color-white);

        font-weight: 700;
    }

    .sec4-container {
        width: 100%;

        position: relative;
        margin: 100px auto 0;

        background: url(../src/images/svg/shapedbackground.svg) no-repeat center;

    }

    .sec4-container .sec4-content {
        width: 1240px;

        position: relative;
        margin: 0 auto;
        padding: 0 0 100px 0;

        z-index: 2;
    }

    .sec4-container .sec4-content .sec4-headline {
        text-align: center;
    }
    
    .sec4-container .sec4-content .sec4-headline h2 {
        font-weight: 700;
    }
    
    .sec4-container .sec4-content .sec4-headline p  {
        margin: 32px 0 0;

        color: var(--color-white);
        font-weight: 800;
    }

    .timeline-container {
        width: 954px;

        position: relative;
        margin: 100px auto 0;

        display: flex;
        flex-direction: column;
    }
    
    .timeline-container .timeline-row {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        
    }
    
    .timeline-container .timeline-row .timeline-balloon {
        width: 414px;
        
        position: relative;
        margin: 8px auto 0 0;
        padding: 32px 16px 16px;
        
        border-radius: 8px;
        box-shadow: 0px 4px 8px var(--color-dark-purple);
        
        background: var(--color-dark-purple);
    }
    
    .timeline-container .timeline-row .timeline-balloon:hover {
        transform: scale(1.02);
        transition: all 200ms cubic-bezier(0.67, 0.53, 0.38, 0.61);
    }
    
    .timeline-container .timeline-row .timeline-balloon:hover .timeline-balloon-dot {
        transform: scale(0);
        transition: all 300ms ease-in;
    }
    
    .timeline-container .timeline-row .timeline-balloon:nth-child(2) {
        margin: 8px 0 0 auto;
    }
    
    .timeline-container .timeline-row .timeline-balloon::before {
        width: 0;
        
        position: absolute;
        top: 60%;
        left: 404px;
        transform: rotate(-70deg);
        
        border-top: 40px solid var(--color-dark-purple);
        border-left: 10px solid transparent;
        border-right: 24px solid transparent;
        
        content: "";
        z-index: -1;
    }
    
    .timeline-container .timeline-row .timeline-balloon:nth-child(2)::before {
        width: 0;
        
        position: absolute;
        top: 60%;
        left: -20px;
        transform: rotate(60deg);
        
        border-top: 40px solid var(--color-dark-purple);
        border-left: 10px solid transparent;
        border-right: 24px solid transparent;
        
        content: "";
        z-index: -1;
    }

    .timeline-container .timeline-row .timeline-balloon .timeline-balloon-number {
        width: 63px;
        
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 4px 8px;
        
        border-radius: 8px;
        
        background: var(--color-white);
        
        text-align: center;
    }
    
    .timeline-container .timeline-row .timeline-balloon .timeline-balloon-number h3 {
        font-weight: 600;
    }

    .timeline-container .timeline-row .timeline-balloon .timeline-balloon-number {
        transform: translate(-16px, -26px);
    }

    .timeline-container .timeline-row .timeline-balloon .timeline-balloon-number.right {
        transform: translate(367px, -26px);
    }
    
    .timeline-container .timeline-row .timeline-balloon .timeline-balloon-text p {
        color: var(--color-white);
        font-weight: 500;
    }

    .timeline-container .timeline-row .timeline-balloon  .timeline-balloon-dot {
        width: 20px;
        height: 20px;

        position: absolute;
        margin: 0;
        top: 90%;
        left: 467px;

        border-radius: 50%;

        background: var(--color-dark-purple);
    }

    .timeline-container .timeline-row .timeline-balloon  .timeline-balloon-dot.right {
        top: 75%;
        left: -73px;
    }

    .timeline-container .timeline-line {
        width: 6px;
        height: 820px;

        position: absolute;
        margin: 0;
        top: 0;
        left: 0;
        transform: translateX(474px);

        background: var(--color-dark-purple);
        border-radius: 8px;

        z-index: -1;
    }

    .sec5-container {
        width: 100%;
        height: 1369px;

        margin: 0 auto;

        display: flex;
        flex-direction: column;

        background: url(../src/images/svg/curvedbackground.svg) no-repeat center;
    }

    .sec5-container .sec5-content {
        width: 1240px;

        position: relative;
        margin: 100px auto;
    }

    .sec5-container .sec5-content .sec5-headline {
        text-align: center;
    }
    
    .sec5-container .sec5-content .sec5-headline h2 {
        margin: 0 auto 32px;
        font-weight: 700;
    }
    
    .sec5-container .sec5-content .sec5-grid-text {
        width: 1040px;

        margin: 32px auto 100px;

        display: flex;
        flex-direction: column;
    }
    
    .sec5-container .sec5-content .sec5-grid-text .sec5-left-side-text, 
    .sec5-container .sec5-content .sec5-grid-text .sec5-right-side-text {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .sec5-container .sec5-content .sec5-grid-text .sec5-left-side-text p,
    .sec5-container .sec5-content .sec5-grid-text .sec5-right-side-text p {
        width: 500px;
    }

    .sec5-container .sec5-content .sec5-grid-text .sec5-left-side-text img {
        width: 452px;

        margin: 0 auto 0 32px;
    }

    .sec5-container .sec5-content .sec5-grid-text .sec5-right-side-text {
        margin: 100px auto 0;
    }

    .sec5-container .sec5-content .sec5-grid-text .sec5-right-side-text img {
        width: 452px;

        margin: 0 32px 0 auto;
    }

    .sec5-container .sec5-content .sec5-boxes-row {
        width: 964px;

        margin: 0 auto;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .sec5-container .sec5-content .sec5-boxes-row .sec5-left-box {
        width: 432px;
        
        padding: 16px;
        
        border: 2px solid transparent;
        border-radius: 8px;

        background: 
        linear-gradient(to bottom, var(--color-white), var(--color-white)), 
        linear-gradient(to bottom, var(--color-danger), var(--color-white));
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
        
        box-shadow: inset 0px 0px 8px var(--color-white);
        filter: drop-shadow(0px 0px 16px var(--color-danger));

        text-align: center;
    }
    
    .sec5-container .sec5-content .sec5-boxes-row .sec5-left-box:hover {
        transform: scale(1.05);
        filter: drop-shadow(0px 0px 24px var(--color-danger));
        transition: all 400ms ease;
    }

    .sec5-container .sec5-content .sec5-boxes-row .sec5-right-box:hover {
        transform: scale(1.05);
        filter: drop-shadow(0px 0px 24px var(--color-sucess));
        transition: all 400ms ease;
    }

    .sec5-container .sec5-content .sec5-boxes-row .sec5-left-box p {
        font-weight: 600;
    }
    
    .sec5-container .sec5-content .sec5-boxes-row .sec5-left-box i {
        margin: 0 auto 16px;

        color: var(--color-danger);
        font-size: 56px;
    }
    
    .sec5-container .sec5-content .sec5-boxes-row .sec5-right-box {
        width: 432px;
        
        padding: 16px;
        
        border: 2px solid transparent;
        border-radius: 8px;

        background: 
        linear-gradient(to bottom, var(--color-white), var(--color-white)), 
        linear-gradient(to bottom, var(--color-sucess), var(--color-white));
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
        
        box-shadow: inset 0px 0px 8px var(--color-white);
        filter: drop-shadow(0px 0px 16px var(--color-sucess));

        text-align: center;
    }
    
    .sec5-container .sec5-content .sec5-boxes-row .sec5-right-box i {
        margin: 0 auto 16px;
        
        color: var(--color-sucess);
        font-size: 56px;
    }

    .sec6-text {
        width: 1240px;

        margin: 100px auto;

        text-align: center;
    }

    .sec6-text p {
        color: var(--color-white);
        font-weight: 500;
    }

    .sec7-container {
        width: 100%;

        margin: 100px auto 0;
        padding: 100px 0;

        display: flex;
        flex-direction: column;
        align-items: center;

        background: url(../src/images/svg/backgroundwaves02.svg) no-repeat center;
    }

    .sec7-container .sec7-content {
        width: 100%;

        margin: 100px 0 0;
        padding: 0 100px;
    }

    .sec7-container .sec7-content .sec7-text p {
        color: var(--color-white);
    }

    .sec7-container .sec7-content .sec7-row {
        width: 1196px;

        margin: 100px auto 0;

        display: flex;
        flex-direction: row;
    }

    .sec7-container .sec7-content .sec7-row .sec7-box {
        width: 332px;
        
        margin: 0 100px 0 0;
        padding: 32px 16px;
        background: var(--color-dark-purple);
        
        border: 2px solid var(--color-light-purple);
        border-radius: 8%;
        
        box-shadow: 0px 0px 32px 2px var(--color-light-purple);
        
        text-align: center;
    }
    
    .sec7-container .sec7-content .sec7-row .sec7-box:hover {
        transform: scale(1.05) translateY(-20px);
        box-shadow: 0px 0px 42px 2px var(--color-light-purple);;
        transition: all 400ms ease;
    }
    
    .sec7-container .sec7-content .sec7-row .sec7-box:first-of-type {
        margin: 0 100px 0 auto;
    }

    .sec7-container .sec7-content .sec7-row .sec7-box:last-of-type {
        margin: 0 0 0 auto;
    }

    .sec7-container .sec7-content .sec7-row .sec7-box p {
        color: var(--color-white);
    }

    .sec7-container .sec7-content .sec7-row .sec7-box:first-of-type p {
        color: var(--color-warning);
        font-weight: 600;
    }

    .offer-container {
        width: 1088px;

        margin: 100px auto 0;

        display: flex;
        flex-direction: column;
    }

    .offer-container .offer-headline h2 {
        color: var(--color-white);
        font-weight: 700;
        
        text-align: center;
    }

    .offer-container .offer-headline span {
        font-weight: 700;
    }

    .offer-container .offer-box {
        width: 609px;
        
        position: relative;
        margin: 74px auto 0;
        padding: 0 0 16px 0;
        
        border-radius: 8px;
        box-shadow: 0px 8px 16px 0px var(--color-dark-purple);
        
        
        background: var(--color-dark-purple);
    }
    
    .offer-container .offer-box:hover {
        box-shadow: 0px 8px 32px 0px var(--color-dark-purple);
        transition: all 300ms ease;
    }

    .offer-container .offer-box .offer-headline-box {
        width: 100%;
        
        margin: 0 0 8px 0;
        padding: 16px;
        
        border-radius: 8px 8px 0 0;
        
        background: var(--color-white);

        text-align: center;
    }
    
    .offer-container .offer-box .offer-headline-box h2 {
        font-weight: 500;
    }
    
    .offer-container .offer-box .offer-access {
        width: 108px;
        height: 108px;
        
        position: absolute;
        margin: 0;
        top: 0;
        left: 0;
        transform: translate(-42px, -42px);

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 50%;
        border: 1px solid var(--color-dark-purple);
        box-shadow: 0px 4px 8px var(--color-dark-purple);

        background: var(--color-light-purple);
    }
    
    .offer-container .offer-box .offer-access small {
        transform: rotate(-27deg);
        
        color: var(--color-white);
        font-weight: 700;
        
        text-align: center;
    }
    
    .offer-container .offer-box .offer-body-box .offer-mental-tigger p {
        font-weight: 600;
        color: var(--color-white);
        
        text-align: center;
    }
    
    .offer-container .offer-box .offer-body-box .offer-mental-tigger .offer-counter {
        width: 72px;

        margin: 8px auto;
        
        display: flex;
        flex-direction: row;
    }

    .offer-container .offer-box .offer-body-box .offer-mental-tigger .offer-counter h3 {
        margin: 0 auto 0 2px;
        padding: 4px 8px;
        
        border-radius: 8px;
        
        background: var(--color-white);
        color: var(--color-danger);
        
        font-weight: 600;
    }
    
    .offer-container .offer-box .offer-body-box .offer-mental-tigger .offer-counter h3:first-child {
        margin: 0 2px 0 auto;
    }
    
    .offer-container .offer-box .offer-body-box .offer-btn {
        width: 100%;
        height: 58px;
        
        margin: 32px auto 4px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        text-align: center;
    }
    
    .offer-container .offer-box .offer-body-box .offer-btn a:hover {
        background: var(--color-dark-purple);
        color: var(--color-white);

        border: 2px solid var(--color-light-purple);
    }

    .offer-container .offer-box .offer-body-box .offer-btn a {
        padding: 16px 132px;
        
        border-radius: 32px;
        border: 2px solid var(--color-sucess);
        
        box-shadow: 0px 4px 8px var(--color-dark-purple), inset 0px 0px 8px rgba(6, 3, 10, 0.5);
        
        background: var(--color-sucess);
        color: var(--color-dark-purple);

        font-weight: 800;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        line-height: 27px;

        animation: btn 2s ease infinite;
    }

    @keyframes btn {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-5px);
            box-shadow: 0px 0px 32px var(--color-sucess);
            padding: 16px 142px;
        }

        100% {
            transform: translateY(0);
        }
    }
    
    .offer-container .offer-box .offer-body-box .offer-security {
        display: flex;
        flex-direction: column;
        
        
        text-align: center;
    }
    
    .offer-container .offer-box .offer-body-box .offer-security small {
        color: var(--color-white);
    }
    
    .offer-container .offer-box .offer-body-box .offer-security .offer-security-flags {
        width: 260px;
        height: 16px;
        
        margin: 32px auto 32px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .offer-container .offer-box .offer-body-box p:last-child {
        color: var(--color-white);
    }

    .offer-container .offer-description {
        width: 1040px;
        
        margin: 100px auto 0;
    }
    
    .offer-container .offer-description p {
        color: var(--color-white);
    }

    footer {
        width: 100%;

        margin: 100px auto 0;
        padding: 32px 16px;

        background: var(--color-dark-purple);
    }

    footer .footer-row {
        width: 1240px;
        
        margin: 0 auto 32px;
        display: flex;
        flex-direction: row;
    }
    
    footer .footer-row p, small {
        color: var(--color-white);
    }
    
    footer .footer-row .footer-left-side-text {
        width: 400px;
    }
    
    footer .footer-row .footer-left-side-text p a {
        color: var(--color-white);
    }
    
    footer .footer-row .footer-left-side-text p:last-child {
        margin: 16px 0 0 0;
    }
    
    footer .footer-row .footer-right-side-text {
        width: 808px;
    }

    footer .footer-imgs {
        width: 460px;
        height: 52px;

        margin: 0 auto;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1440px) {
    small {
        font-size: 12px;
        line-height: 22px;
    }

    p {
        font-size: 16px;
        line-height: 27px;
    }

    h1 {
        font-size: 50px;
        line-height: 60px;
    }

    h2 {
        font-size: 40px;
        line-height: 50px;
    }

    h3 {
        font-size: 32px;
        line-height: 42px;
    }

    .container {
        width: 1240px;

        margin: 0 100px;

        display: flex;
        flex-direction: column;
    }

    .container .headline-text {
        width: 840px;

        margin: 64px auto 0;

        text-align: center;
    }

    .container .headline-text h2 {
        font-weight: 500;
    }

    .container .headline-text h2:last-child {
        margin: 32px 0 0;
    }

    .container .hero-container {
        margin: 32px 0 0;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container .hero-container .hero-image-background {
        width: 614px;
        height: 747px;

        position: absolute;
        margin: 0 auto;

        z-index: -10;
    }

    .container .hero-container .hero-image-background .circle {
        width: 614px;
        height: 614px;

        position: absolute;
        top: 0;

        border-radius: 50%;

        background: var(--color-light-purple);
        filter: blur(72px);
        
        z-index: -20;
    }

    .container .hero-container .hero-text-block {
        width: 100%;

        margin: 32px 0 0;

        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;
    }

    .container .hero-container .hero-text-block .hero-left-side-text, 
    .container .hero-container .hero-text-block .hero-right-side-text {
        width: 500px;
    }
    
    .container .hero-container .hero-text-block .hero-left-side-text {
        margin: 0;
    }
    
    .container .hero-container .hero-text-block .hero-right-side-text {
        margin: 32px 0 0 auto;
    }

    .container .hero-container .hero-middle-text {
        width: 840px;

        margin: 64px auto 0;

        text-align: center;
    }

    .container .hero-container p {
        color: var(--color-white);
    }

    .background-waves {
        width: 100%;
        height: 200px;

        position: absolute;
        top: 940px;
        left: 0;
    }

    .wave {
        width: 300%;
        height: 200px;

        position: absolute;
    }

    .wave:nth-of-type(1){
        top: -1px;

        background: url(../src/images/svg/frontwave.svg);

        z-index: -1;

        animation: wave 10s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
        transform: translate3d(0, 0, 0);
    }
      
    .wave:nth-of-type(2) {
        top: -2px;

        background: url(../src/images/svg/middlewave.svg);
        filter: blur(4px);

        z-index: -2;

        animation: wave 20s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite;
    }

    .wave:nth-of-type(3) {
        top: -5px;

        background: url(../src/images/svg/backwave.svg);
        filter: blur(8px);

        z-index: -3;

        animation: wave 30s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.115s infinite;
    }
      
    @keyframes wave {
        0% {
            margin-left: 0;
        }

        100% {
            margin-left: -1600px;
        }
    }

    .sec2-container {
        width: 100%;

        margin: 200px 0 0;
        padding-bottom: 100px;

        background: var(--color-white);

        z-index: 1;
    }

    .sec2-container .sec2-content {
        width: 1040px;

        margin: 0 auto;
    }

    .sec2-container .sec2-content .sec2-headline-text .sec2-title {
        width: 100%;

        margin: 0 auto;

        text-align: center;
    }
    
    .sec2-container .sec2-content .sec2-headline-text .sec2-title h2 {
        font-weight: 700;
    }

    .sec2-container .sec2-content .sec2-headline-text .sec2-text {
        width: 100%;

        margin: 32px auto 0;
    }

    .sec2-container .sec2-content .sec2-gradient-text {
        width: 100%;

        margin: 32px auto 0;

        display: flex;
        flex-direction: column;

        text-align: center;
    }

    .sec2-container .sec2-content .sec2-gradient-text span {
        width: 100%;

        background: linear-gradient(180deg, var(--color-sucess) -41.67%, var(--color-white) 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;

        font-family: 'Oswald', sans-serif;
        font-size: 80px;
        font-weight: 700;
        
        line-height: 90px;
        letter-spacing: 0.1em;

        z-index: 0;
    }

    .sec2-container .sec2-content .sec2-gradient-text h3 {
        width: 100%;
        
        position: absolute;
        left: 0;
        margin: 0;
        transform: translateY(50%);
        
        font-weight: 500;
        
        z-index: 2;
    }

    .sec2-container .sec2-content .sec2-left-side-text {
        width: 500px;

        margin: 64px auto 0 0;
    }

    .sec2-background-image {
        width: 100%;
        
        position: absolute;
        left: 0;
        transform: translate(50%, -416px);
    }
    
    .sec2-background-image img {
        width: 359px;

        animation: phone 4s ease-in-out infinite;
    }

    @keyframes phone {
        0% {
            transform: translatey(0px) rotate(1deg);
        }
        50% {
            transform: translateY(-5px) rotate(4deg);
        }
        100% {
            transform: translateY(0px) rotate(1deg);
        }
    }
    
    .sec2-background-image .circle {
        width: 359px;
        height: 159px;

        position: absolute;
        top: 150px;
        left: 64px;
        transform: rotate(124deg);

        background: var(--color-light-purple);
        filter: blur(80px);

        z-index: -1;
    }

    .sec3-container {
        width: 1040px;

        margin: 142px auto 0;
    }

    .sec3-container .sec3-text-block .sec3-title {
        margin: 0;

        text-align: center;
    }
    
    .sec3-container .sec3-text-block .sec3-title h3 {
        font-weight: 600;
    }
    
    .sec3-container .sec3-text-block .sec3-text {
        margin: 64px auto 32px;
    }

    .sec3-container .sec3-text-block .sec3-text p {
        margin: 32px auto 0;
        
        color: var(--color-white);
    }
    
    .sec3-container .sec3-text-block .sec3-text p:nth-child(2) {
        font-weight: 600;
    }
    
    .sec3-container .sec3-text-block .sec3-text p:nth-child(3) span {
        font-weight: 800;
    }

    .sec3-container .sec3-gradient-text {
        width: 100%;

        margin: 32px auto 0;

        display: flex;
        flex-direction: column;

        text-align: center;
    }

    .sec3-container .sec3-gradient-text span {
        width: 100%;

        background: linear-gradient(180deg, var(--color-black) -41.67%, var(--color-light-purple) 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;

        font-family: 'Oswald', sans-serif;
        font-size: 80px;
        font-weight: 700;
        
        line-height: 100px;
        letter-spacing: 0.1em;

        z-index: 0;
    }

    .sec3-container .sec3-gradient-text h3 {
        width: 100%;
        
        position: absolute;
        left: 0;
        margin: 0;
        transform: translateY(65%);
        
        color: var(--color-white);

        font-weight: 500;
        
        z-index: 2;
    }

    .sec3-container h3:nth-child(3) {
        margin: 32px 0 0;
        color: var(--color-white);

        font-weight: 700;
    }

    .sec4-container {
        width: 100%;

        position: relative;
        margin: 100px 0 0;

        background: url(../src/images/svg/shapedbackground.svg);

    }

    .sec4-container .sec4-content {
        width: 1240px;

        position: relative;
        margin: 0 auto;
        padding: 0 0 100px 0;

        z-index: 2;
    }

    .sec4-container .sec4-content .sec4-headline {
        text-align: center;
    }
    
    .sec4-container .sec4-content .sec4-headline h2 {
        font-weight: 700;
    }
    
    .sec4-container .sec4-content .sec4-headline p  {
        margin: 32px 0 0;

        color: var(--color-white);
        font-weight: 800;
    }

    .timeline-container {
        width: 954px;

        position: relative;
        margin: 100px auto 0;

        display: flex;
        flex-direction: column;
    }
    
    .timeline-container .timeline-row {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        
    }
    
    .timeline-container .timeline-row .timeline-balloon {
        width: 414px;
        
        position: relative;
        margin: 8px auto 0 0;
        padding: 32px 16px 16px;
        
        border-radius: 8px;
        box-shadow: 0px 4px 8px var(--color-dark-purple);
        
        background: var(--color-dark-purple);
    }
    
    .timeline-container .timeline-row .timeline-balloon:hover {
        transform: scale(1.02);
        transition: all 200ms cubic-bezier(0.67, 0.53, 0.38, 0.61);
    }
    
    .timeline-container .timeline-row .timeline-balloon:hover .timeline-balloon-dot {
        transform: scale(0);
        transition: all 300ms ease-in;
    }
    
    .timeline-container .timeline-row .timeline-balloon:nth-child(2) {
        margin: 8px 0 0 auto;
    }
    
    .timeline-container .timeline-row .timeline-balloon::before {
        width: 0;
        
        position: absolute;
        top: 60%;
        left: 404px;
        transform: rotate(-70deg);
        
        border-top: 40px solid var(--color-dark-purple);
        border-left: 10px solid transparent;
        border-right: 24px solid transparent;
        
        content: "";
        z-index: -1;
    }
    
    .timeline-container .timeline-row .timeline-balloon:nth-child(2)::before {
        width: 0;
        
        position: absolute;
        top: 60%;
        left: -20px;
        transform: rotate(60deg);
        
        border-top: 40px solid var(--color-dark-purple);
        border-left: 10px solid transparent;
        border-right: 24px solid transparent;
        
        content: "";
        z-index: -1;
    }

    .timeline-container .timeline-row .timeline-balloon .timeline-balloon-number {
        width: 63px;
        
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 4px 8px;
        
        border-radius: 8px;
        
        background: var(--color-white);
        
        text-align: center;
    }
    
    .timeline-container .timeline-row .timeline-balloon .timeline-balloon-number h3 {
        font-weight: 600;
    }

    .timeline-container .timeline-row .timeline-balloon .timeline-balloon-number {
        transform: translate(-16px, -26px);
    }

    .timeline-container .timeline-row .timeline-balloon .timeline-balloon-number.right {
        transform: translate(367px, -26px);
    }
    
    .timeline-container .timeline-row .timeline-balloon .timeline-balloon-text p {
        color: var(--color-white);
        font-weight: 500;
    }

    .timeline-container .timeline-row .timeline-balloon  .timeline-balloon-dot {
        width: 20px;
        height: 20px;

        position: absolute;
        margin: 0;
        top: 90%;
        left: 467px;

        border-radius: 50%;

        background: var(--color-dark-purple);
    }

    .timeline-container .timeline-row .timeline-balloon  .timeline-balloon-dot.right {
        top: 75%;
        left: -73px;
    }

    .timeline-container .timeline-line {
        width: 6px;
        height: 820px;

        position: absolute;
        margin: 0;
        top: 0;
        left: 0;
        transform: translateX(474px);

        background: var(--color-dark-purple);
        border-radius: 8px;

        z-index: -1;
    }

    .sec5-container {
        width: 100%;
        height: 1369px;

        display: flex;
        flex-direction: column;

        background: url(../src/images/svg/curvedbackground.svg);
    }

    .sec5-container .sec5-content {
        width: 1240px;

        position: relative;
        margin: 100px auto;
    }

    .sec5-container .sec5-content .sec5-headline {
        text-align: center;
    }
    
    .sec5-container .sec5-content .sec5-headline h2 {
        margin: 0 auto 32px;
        font-weight: 700;
    }
    
    .sec5-container .sec5-content .sec5-grid-text {
        width: 1040px;

        margin: 32px auto 100px;

        display: flex;
        flex-direction: column;
    }
    
    .sec5-container .sec5-content .sec5-grid-text .sec5-left-side-text, 
    .sec5-container .sec5-content .sec5-grid-text .sec5-right-side-text {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .sec5-container .sec5-content .sec5-grid-text .sec5-left-side-text p,
    .sec5-container .sec5-content .sec5-grid-text .sec5-right-side-text p {
        width: 500px;
    }

    .sec5-container .sec5-content .sec5-grid-text .sec5-left-side-text img {
        width: 452px;

        margin: 0 auto 0 32px;
    }

    .sec5-container .sec5-content .sec5-grid-text .sec5-right-side-text {
        margin: 100px auto 0;
    }

    .sec5-container .sec5-content .sec5-grid-text .sec5-right-side-text img {
        width: 452px;

        margin: 0 32px 0 auto;
    }

    .sec5-container .sec5-content .sec5-boxes-row {
        width: 964px;

        margin: 0 auto;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .sec5-container .sec5-content .sec5-boxes-row .sec5-left-box {
        width: 432px;
        
        padding: 16px;
        
        border: 2px solid transparent;
        border-radius: 8px;

        background: 
        linear-gradient(to bottom, var(--color-white), var(--color-white)), 
        linear-gradient(to bottom, var(--color-danger), var(--color-white));
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
        
        box-shadow: inset 0px 0px 8px var(--color-white);
        filter: drop-shadow(0px 0px 16px var(--color-danger));

        text-align: center;
    }
    
    .sec5-container .sec5-content .sec5-boxes-row .sec5-left-box:hover {
        transform: scale(1.05);
        filter: drop-shadow(0px 0px 24px var(--color-danger));
        transition: all 400ms ease;
    }

    .sec5-container .sec5-content .sec5-boxes-row .sec5-right-box:hover {
        transform: scale(1.05);
        filter: drop-shadow(0px 0px 24px var(--color-sucess));
        transition: all 400ms ease;
    }

    .sec5-container .sec5-content .sec5-boxes-row .sec5-left-box p {
        font-weight: 600;
    }
    
    .sec5-container .sec5-content .sec5-boxes-row .sec5-left-box i {
        margin: 0 auto 16px;

        color: var(--color-danger);
        font-size: 56px;
    }
    
    .sec5-container .sec5-content .sec5-boxes-row .sec5-right-box {
        width: 432px;
        
        padding: 16px;
        
        border: 2px solid transparent;
        border-radius: 8px;

        background: 
        linear-gradient(to bottom, var(--color-white), var(--color-white)), 
        linear-gradient(to bottom, var(--color-sucess), var(--color-white));
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
        
        box-shadow: inset 0px 0px 8px var(--color-white);
        filter: drop-shadow(0px 0px 16px var(--color-sucess));

        text-align: center;
    }
    
    .sec5-container .sec5-content .sec5-boxes-row .sec5-right-box i {
        margin: 0 auto 16px;
        
        color: var(--color-sucess);
        font-size: 56px;
    }

    .sec6-text {
        width: 1240px;

        margin: 100px auto;

        text-align: center;
    }

    .sec6-text p {
        color: var(--color-white);
        font-weight: 500;
    }

    .sec7-container {
        width: 100%;

        margin: 100px auto 0;
        padding: 0 0 100px 0;

        display: flex;
        flex-direction: column;
        align-items: center;

        background: url(../src/images/svg/backgroundwaves02.svg);
    }

    .sec7-container .sec7-content {
        width: 1240px;

        margin: 100px auto 0;
    }

    .sec7-container .sec7-content .sec7-text p {
        color: var(--color-white);
    }

    .sec7-container .sec7-content .sec7-row {
        width: 1196px;

        margin: 100px auto 0;

        display: flex;
        flex-direction: row;
    }

    .sec7-container .sec7-content .sec7-row .sec7-box {
        width: 332px;
        
        margin: 0 100px 0 0;
        padding: 32px 16px;
        background: var(--color-dark-purple);
        
        border: 2px solid var(--color-light-purple);
        border-radius: 8%;
        
        box-shadow: 0px 0px 32px 2px var(--color-light-purple);
        
        text-align: center;
    }
    
    .sec7-container .sec7-content .sec7-row .sec7-box:hover {
        transform: scale(1.05) translateY(-20px);
        box-shadow: 0px 0px 42px 2px var(--color-light-purple);;
        transition: all 400ms ease;
    }
    
    .sec7-container .sec7-content .sec7-row .sec7-box:first-of-type {
        margin: 0 100px 0 auto;
    }

    .sec7-container .sec7-content .sec7-row .sec7-box:last-of-type {
        margin: 0 0 0 auto;
    }

    .sec7-container .sec7-content .sec7-row .sec7-box p {
        color: var(--color-white);
    }

    .sec7-container .sec7-content .sec7-row .sec7-box:first-of-type p {
        color: var(--color-warning);
        font-weight: 600;
    }

    .offer-container {
        width: 1088px;

        margin: 100px auto 0;

        display: flex;
        flex-direction: column;
    }

    .offer-container .offer-headline h2 {
        color: var(--color-white);
        font-weight: 700;
        
        text-align: center;
    }

    .offer-container .offer-headline span {
        font-weight: 700;
    }

    .offer-container .offer-box {
        width: 609px;
        
        position: relative;
        margin: 74px auto 0;
        padding: 0 0 16px 0;
        
        border-radius: 8px;
        box-shadow: 0px 8px 16px 0px var(--color-dark-purple);
        
        
        background: var(--color-dark-purple);
    }
    
    .offer-container .offer-box:hover {
        box-shadow: 0px 8px 32px 0px var(--color-dark-purple);
        transition: all 300ms ease;
    }

    .offer-container .offer-box .offer-headline-box {
        width: 100%;
        
        margin: 0 0 8px 0;
        padding: 16px;
        
        border-radius: 8px 8px 0 0;
        
        background: var(--color-white);

        text-align: center;
    }
    
    .offer-container .offer-box .offer-headline-box h2 {
        font-weight: 500;
    }
    
    .offer-container .offer-box .offer-access {
        width: 108px;
        height: 108px;
        
        position: absolute;
        margin: 0;
        top: 0;
        left: 0;
        transform: translate(-42px, -42px);

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 50%;
        border: 1px solid var(--color-dark-purple);
        box-shadow: 0px 4px 8px var(--color-dark-purple);

        background: var(--color-light-purple);
    }
    
    .offer-container .offer-box .offer-access small {
        transform: rotate(-27deg);
        
        color: var(--color-white);
        font-weight: 700;
        
        text-align: center;
    }
    
    .offer-container .offer-box .offer-body-box .offer-mental-tigger p {
        font-weight: 600;
        color: var(--color-white);
        
        text-align: center;
    }
    
    .offer-container .offer-box .offer-body-box .offer-mental-tigger .offer-counter {
        width: 72px;

        margin: 8px auto;
        
        display: flex;
        flex-direction: row;
    }

    .offer-container .offer-box .offer-body-box .offer-mental-tigger .offer-counter h3 {
        margin: 0 auto 0 2px;
        padding: 4px 8px;
        
        border-radius: 8px;
        
        background: var(--color-white);
        color: var(--color-danger);
        
        font-weight: 600;
    }
    
    .offer-container .offer-box .offer-body-box .offer-mental-tigger .offer-counter h3:first-child {
        margin: 0 2px 0 auto;
    }
    
    .offer-container .offer-box .offer-body-box .offer-btn {
        width: 100%;
        height: 58px;
        
        margin: 32px auto 4px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        text-align: center;
    }
    
    .offer-container .offer-box .offer-body-box .offer-btn a:hover {
        background: var(--color-dark-purple);
        color: var(--color-white);

        border: 2px solid var(--color-light-purple);
    }

    .offer-container .offer-box .offer-body-box .offer-btn a {
        padding: 16px 132px;
        
        border-radius: 32px;
        border: 2px solid var(--color-sucess);
        
        box-shadow: 0px 4px 8px var(--color-dark-purple), inset 0px 0px 8px rgba(6, 3, 10, 0.5);
        
        background: var(--color-sucess);
        color: var(--color-dark-purple);

        font-weight: 800;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        line-height: 27px;

        animation: btn 2s ease infinite;
    }

    @keyframes btn {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-5px);
            box-shadow: 0px 0px 32px var(--color-sucess);
            padding: 16px 142px;
        }

        100% {
            transform: translateY(0);
        }
    }
    
    .offer-container .offer-box .offer-body-box .offer-security {
        display: flex;
        flex-direction: column;
        
        
        text-align: center;
    }
    
    .offer-container .offer-box .offer-body-box .offer-security small {
        color: var(--color-white);
    }
    
    .offer-container .offer-box .offer-body-box .offer-security .offer-security-flags {
        width: 260px;
        height: 16px;
        
        margin: 32px auto 32px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .offer-container .offer-box .offer-body-box p:last-child {
        color: var(--color-white);
    }

    .offer-container .offer-description {
        width: 1040px;
        
        margin: 100px auto 0;
    }
    
    .offer-container .offer-description p {
        color: var(--color-white);
    }

    footer {
        width: 100%;

        margin: 100px 0 0 0;
        padding: 32px 0;

        background: var(--color-dark-purple);
    }

    footer .footer-row {
        width: 1240px;
        
        margin: 0 auto 32px;
        display: flex;
        flex-direction: row;
    }
    
    footer .footer-row p, small {
        color: var(--color-white);
    }
    
    footer .footer-row .footer-left-side-text {
        width: 400px;
    }
    
    footer .footer-row .footer-left-side-text p a {
        color: var(--color-white);
    }
    
    footer .footer-row .footer-left-side-text p:last-child {
        margin: 16px 0 0 0;
    }
    
    footer .footer-row .footer-right-side-text {
        width: 808px;
    }

    footer .footer-imgs {
        width: 460px;
        height: 52px;

        margin: 0 auto;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1024px) {
    html, body {
        width: 100%;
        overflow-x: hidden;
    }

    .container {
        width: 100%;

        position: relative;
        margin: 0;
        padding: 0 40px;

        display: flex;
        flex-direction: column;
    }

    .container .headline-text {
        width: 100%;

        margin: 64px auto 0;

        text-align: center;
    }

    .container .hero-container .hero-image-background {
        width: 614px;
        height: 747px;

        position: absolute;
        margin: 0 auto;

        z-index: -10;
        opacity: 1;
    }

    .container .hero-container .hero-image-background .circle {
        width: 614px;
        height: 614px;

        position: absolute;
        top: 0;

        border-radius: 50%;

        background: var(--color-light-purple);
        filter: blur(72px);
        
        z-index: -20;
    }

    .container .hero-container .hero-text-block {
        width: 100%;

        margin: 32px 0 0;

        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;
        text-shadow: none;
    }

    .container .hero-container .hero-text-block .hero-left-side-text, 
    .container .hero-container .hero-text-block .hero-right-side-text {
        width: 400px;
    }
    
    .container .hero-container .hero-text-block .hero-left-side-text {
        margin: 0;
    }
    
    .container .hero-container .hero-text-block .hero-right-side-text {
        margin: 32px 0 0 auto;
    }

    .container .hero-container .hero-middle-text {
        width: 740px;

        margin: 64px auto 0;

        text-align: center;
        text-shadow: none;
    }
    
    .background-waves {
        width: 100%;
        height: 200px;

        position: absolute;
        margin: 90px 0;
        left: 0;

        overflow-x: hidden;
    }

    .wave {
        width: 300%;
        height: 200px;

        position: absolute;
    }

    .sec2-container {
        width: 100%;

        position: relative;
        margin: 190px 0 0;
        padding: 0 0 100px;

        background: var(--color-white);

        z-index: 1;
    }

    .sec2-container .sec2-content {
        width: 100%;

        position: relative;
        margin: 0;
        padding: 0 40px;
    }

    .sec2-container .sec2-content .sec2-left-side-text {
        width: 540px;

        position: relative;
        margin: 64px auto 0 0;
    }

    .sec2-background-image {
        width: 227px;
        
        position: absolute;
        transform: translate(600px, -354px);

        z-index: 1;
    }

    .sec3-container {
        width: 100%;

        position: relative;
        margin: 142px 0 0;
        padding: 0 40px;
    }

    .sec4-container .sec4-content {
        width: 100%;

        position: relative;
        margin: 0 auto;
        padding: 0 40px 100px;

        z-index: 2;
    }

    .sec5-container .sec5-content {
        width: 100%;

        position: relative;
        margin: 100px 0 0;
        padding: 0 40px;
    }

    .sec5-container .sec5-content .sec5-headline {
        width: 100%;
        text-align: center;
    }

    .sec5-container .sec5-content .sec5-headline h2 {
        margin: 0 0 32px;
        font-weight: 700;
    }

    .sec5-container .sec5-content .sec5-grid-text {
        width: 100%;

        margin: 32px 0 100px;

        display: flex;
        flex-direction: column;
    }

    .sec5-container .sec5-content .sec5-grid-text .sec5-left-side-text img {
        width: 352px;

        margin: 0 auto 0 32px;
    }

    .sec5-container .sec5-content .sec5-grid-text .sec5-right-side-text img {
        width: 352px;

        margin: 0 32px 0 auto;
    }

    .sec5-container .sec5-content .sec5-boxes-row {
        width: 100%;

        position: relative;
        margin: 0;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .sec6-text {
        width: 100%;

        position: relative;
        margin: 100px auto;
        padding: 0 40px;

        text-align: center;
    }

    .sec7-container .sec7-content {
        width: 100%;

        position: relative;
        margin: 100px auto 0;
        padding: 0 40px;
    }

    .sec7-container .sec7-content .sec7-row {
        width: 100%;

        margin: 100px auto 0;

        display: flex;
        flex-direction: row;
    }

    .sec7-container .sec7-content .sec7-row .sec7-box {
        width: 332px;
        
        margin: 0 32px 0 0;
        padding: 32px 16px;
        background: var(--color-dark-purple);
        
        border: 2px solid var(--color-light-purple);
        border-radius: 8%;
        
        box-shadow: 0px 0px 32px 2px var(--color-light-purple);
        
        text-align: center;
    }

    .sec7-container .sec7-content .sec7-row .sec7-box:first-of-type {
        margin: 0 32px 0 auto;
    }

    .offer-container {
        width: 100%;

        margin: 100px 0 0;

        display: flex;
        flex-direction: column;
    }

    .offer-container .offer-description {
        width: 100%;
        
        position: relative;
        margin: 100px auto 0;
        padding: 0 40px;
    }

}